<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> TPM </title>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script type="text/javascript" src="js/slick.js"></script>
     <script type="text/javascript" src="js/jquery.scrollUp.js"></script>
     <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <script type="text/javascript" src="js/demo.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body >  
    <header class="tm-header">
        <img class="tm-logo" src="images/logo.png" alt="Majestic Hotel">
        <nav class="tm-nav" >
       <div>
            <ul>
                <li class="tm-list"><a href="/">Home</a></li>
                <li class="tm-list"><a href="/portfolio">Portfolio </a></li>
                <li class="tm-list"><a href="/halls">Halls</a></li>
                <li class="tm-list"><a href="/login">Booking</a></li>
                
            </ul>    
            </div>
        </nav>
    </header>
    
    <section class="tm-imgslider">
    <div class="slider single">
					<div><div class="tm-slider"><img class="tm-sliderimage" src="images/slider.jpg" alt="Majestic Hotel"> 
                        <div class="tm-slidertext">
                        <p class="bold"> </p>
                        <p class="simple"> </p>
                            <p class="simple"> </p></div>
                </div></div>
					<div><div class="tm-slider"><img class="tm-sliderimage" src="images/slider2.jpg" alt="Majestic Hotel"> 
                        <div class="tm-slidertext">
                        <p class="bold"> </p>
                        <p class="simple"> </p>
                            <p class="simple"> </p></div>
                </div></div>
					<div><div class="tm-slider"><img class="tm-sliderimage" src="images/slider3.jpg" alt="Majestic Hotel"> 
                        <div class="tm-slidertext">
                        <p class="bold"> </p>
                        <p class="simple"> </p>
                            <p class="simple"> </p></div>
                </div></div>
					<div><div class="tm-slider"><img class="tm-sliderimage" src="images/slider4.jpg" alt="Majestic Hotel"> 
                        <div class="tm-slidertext">
                        <p class="bold"> </p>
                        <p class="simple"> </p>
                            <p class="simple"></p></div>
                </div></div>
				
				</div>
                <br>
                <br>
        <img src="images/back.png" class="left">
          <img src="images/next.png" class="right">
   </section>
    <section class="slider room flex">
      
                    <div class="tm-rooms">
                        <img  src="images/engagement.jpg">
                       <a href="/halls"> <p class="s">Engagement day</p> </a>

                    </div>
                        <div class="tm-rooms">
                        <img  src="images/wedding.jpg">
                            <a href="/halls"> <p class="s">Wedding Day</p></a>

                    </div>
                        <div class="tm-rooms">
                        <img  src="images/reception.jpg">
                            <a href="/halls">  <p>Reception Day</p></a>

                    </div>
                
            
                  
    </section>
     <br>
    <section class="tm-servicesection">
         <div class="tm-service">
              <img class="tm-serimage" src="images/bell.png">
             <div>
                        <p class="b">Qualified team</p>
                        <p>TPC employs the best wedding experts to help you make your wedding unforgettable </p> </div>
        </div>
        <div class="tm-service">
              <img class="tm-serimage" src="images/coffee.png">
             <div>
                        <p class="b">Proffesional approach</p>
                        <p> We will thoroughly plan every element of your wedding ceremony so that you could enjoy your most important day.</p> </div>
        </div>
    </section>
    <section class="tm-servicesection">

        <div class="tm-service">
              <img class="tm-serimage" src="images/car-front.png">
             <div>
                        <p class="b">Free Parking</p>
                        <p> No need to pay any extra charges to park your vehicle </p> </div>
        </div>
        <div class="tm-service">
              <img class="tm-serimage" src="images/spa.png">
             <div>
                        <p class="b">Acceptable price</p>
                        <p> Our clients value our affordable pricing policy and great service that allow us to plan the best weddings. </p> </div>
        </div>

    </section>
    <section class="tm-reviewsection">
         
        <div class="tm-review ">
            <div class="slider review">
            <div class="tm-revcon">
        <p class="b"> Reviews</p>
            <div class="tm-stars">
                 <img src="images/star.png">
                 <img src="images/star.png">
                 <img src="images/star.png">
                 <img src="images/star.png">
                 <img src="images/star.png">
            </div>
                <div class="tm-rev">
        <p> I truly loved the venue. The staffs were so good, they were best at hospitality and services. The venue was very beautiful, the decor was superbly done. Food couldn't have been better. In all praises for them. Loved the experience</p>  <br/>
        <p> Rachel Green &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </p> </div>
 
                </div>
            
            <div class="tm-revcon">
        <p class="b"> Reviews</p>
            <div class="tm-stars">
                 <img src="images/star.png">
                 <img src="images/star.png">
                 <img src="images/star.png">
                 <img src="images/star.png">
                 <img src="images/star.png">
            </div>
                <div class="tm-rev">
        <p>This venue is awesome! The staff was so good and cordial. Even the arrangements and decoration were beautifully done. We really enjoyed our event here and it was really good. Everyone loved the venue and complimented us for the same. </p>  <br/>
        <p> Ross Geller &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </p> </div>
 
                </div>
            
           
            <div class="tm-revcon">
        <p class="b"> Reviews</p>
            <div class="tm-stars">
                 <img src="images/star.png">
                 <img src="images/star.png">
                 <img src="images/star.png">
                 <img src="images/star.png">
                 <img src="images/star.png">
            </div>
                <div class="tm-rev">
        <p> It was a really alluring experience for us here. The food was very good and the decorations were totally amazing. We were very happy with their overall services. </p>  <br/>
        <p> Joey Tribiani &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </p> </div>
 
                
                 -->
            </div>
            

        </div>
    </section>
<section class="tm-makeres">
    <div class="tm-res">
       <div class="tm-resbutton">
           <a href="/bb"> <p>Make Reservation</p></a>
        </div>
        </div>
    </section>
    
    <footer class="tm-footer">
        <div class="tm-us">
        <p class="bold">About Us</p>
        <p>TPC provides a focused approach towards the wedding planning segment. With years of experience in the event industry, we stand on a stronger base with the most creative, enthusiastic and committed team.

            </p>    
        </div>
       
        <div class="tm-address">
        <p class="bold">Address</p>
        <p>Mumbai
            Phone : (211) 9275693451
            Email : theperfectmatch@gmail.com</p>    
        </div>
        <br/>
    <div class="tm-media">
        <a href="#"> <img src="images/fb.png"></a>
        <a href="#"> <img src="images/G.png"> </a>
        <a href="#"> <img src="images/twittr.png"> </a>
        <a href="#">  <img src="images/insta.png"> </a>
        
        </div>
    </footer>
</body>
</html>