<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> TPM </title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/pickmeup.min.js"></script>
    <script type="text/javascript" src="js/handleCounter.js"></script>
    <link rel="stylesheet" type="text/css" href="css/pickmeup.css">
    <link rel="stylesheet" type="text/css" href="css/handle-counter.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.scrollUp.js"></script>
     <script type="text/javascript" src="js/demo.js"></script>

    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3tO4SQlk9ZVpuhRXlmNfYh37e63-Li2k&callback=initMap">
    </script>
    </head>
<body>
    <header class="tm-header">
        <img class="tm-logo" src="images/logo.png" alt="Majestic Hotel">
        <nav class="tm-nav">
       <div>
            <ul>
               <li class="tm-list"><a href="/">Home</a></li>
                <li class="tm-list"><a href="/portfolio">Portfolio </a></li>
                <li class="tm-list"><a href="/halls">Halls</a></li>
                <li class="tm-list"><a href="/login">Booking</a></li>
               
            </ul>    
            </div>
        </nav>
    </header>
    <section class="tm-main">
           <p>Login </p>
    </section>
    <div class="login-box">
      
      <form action="/login" method="POST">
        <label>Email</label>
        <input type="text" placeholder="" name="email"/>
        <label>Password</label>
        <input type="password" placeholder="" name="password"/>
        <input type="submit" value="Submit" >
      </form>
    </div>
    <p class="para-2">
      Not have an account? <a href="/register">Sign Up Here</a>
    </p>
    <footer class="tm-footer">
        <div class="tm-us">
        <p class="bold">About Us</p>
        <p>TPC provides a focused approach towards the wedding planning segment. With years of experience in the event industry, we stand on a stronger base with the most creative, enthusiastic and committed team.

        </p>    
        </div>
       
        <div class="tm-address">
        <p class="bold">Address</p>
        <p>Mumbai
            Phone : (211) 9275693451
            Email : theperfectmatch@gmail.com</p>    
        </div>
        <br/>
    <div class="tm-media">
        <a href="#"> <img src="images/fb.png"></a>
        <a href="#"> <img src="images/G.png"> </a>
        <a href="#"> <img src="images/twittr.png"> </a>
        <a href="#">  <img src="images/insta.png"> </a>
        
        </div>
<!--        <a href="#">  <img class="tm-up" src="images/up.png"> </a>-->
    </footer>
    </body>
</html>
    