<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> TPM </title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.scrollUp.js"></script>
 <script type="text/javascript" src="js/demo.js"></script>
     </head>
    <body>
    <header class="tm-header">
        <img class="tm-logo" src="images/logo.png" alt="Majestic Hotel">
        <nav class="tm-nav">
       <div>
            <ul>
               <li class="tm-list"><a href="/">Home</a></li>
                <li class="tm-list"><a href="/portfolio">Portfolio </a></li>
                <li class="tm-list"><a href="/halls">Halls</a></li>
                <li class="tm-list"><a href="/login">Booking</a></li>
               
            </ul>    
            </div>
        </nav>
    </header>
    <section class="tm-main">
           <p>Explore</p>
    </section>
    <section class="tm-expsection">
        </div>

        <div class="row">
            <div class="column">
              <div class="content">
                <img src="images/portfolio1.jpg" alt="Mountains" style="width:100%">
                
              </div>
            </div>
            <div class="column">
              <div class="content">
                <img src="images/portfolio2.jpg" alt="Lights" style="width:100%">
                
              </div>
            </div>
            <div class="column">
              <div class="content">
                <img src="images/portfolio3.jpg" alt="Nature" style="width:100%">
                
              </div>
            </div>
            <div class="column">
              <div class="content">
                <img src="images/portfolio4.jpg" alt="Mountains" style="width:100%">
                
              </div>
            </div>
            <div class="column">
                <div class="content">
                  <img src="images/portfolio5.jfif" alt="Mountains" style="width:100%">
                  
                </div>
              </div>
              <div class="column">
                <div class="content">
                  <img src="images/portfolio6.jpg" alt="Mountains" style="width:100%">
                  
                </div>
              </div>
              <div class="column">
                <div class="content">
                  <img src="images/portfolio7.jpg" alt="Mountains" style="width:100%">
                  
                </div>
              </div>
              <div class="column">
                <div class="content">
                  <img src="images/portfolio8.jpg" alt="Mountains" style="width:100%">
                  
                </div>
              </div>
          </div>
          
          <div class="content">
            <img src="images/portfolio9.jpg" alt="Bear" style="width:100%">
           
          </div>
    </section>
    
    
    
    <footer class="tm-footer">
        <div class="tm-us">
        <p class="bold">About Us</p>
        <p>TPC provides a focused approach towards the wedding planning segment. With years of experience in the event industry, we stand on a stronger base with the most creative, enthusiastic and committed team.

        </p>    
        </div>
       
        <div class="tm-address">
        <p class="bold">Address</p>
        <p>Mumbai
            Phone : (211) 9275693451
            Email : theperfectmatch@gmail.com</p>    
        </div>
        <br/>
    <div class="tm-media">
        <a href="#"> <img src="images/fb.png"></a>
        <a href="#"> <img src="images/G.png"> </a>
        <a href="#"> <img src="images/twittr.png"> </a>
        <a href="#">  <img src="images/insta.png"> </a>
        
        </div>

    </footer>
    </body>
</html>